/**  General rules */
html,
body {
	color: #fefefe;
	background-color: #181818;
	font-family: gotham ssm a, gotham ssm b, sans-serif;
	padding: 0;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

header {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #222222;
	padding: 2rem;
	color: #fff;
	font-size: 1.1rem;
	font-weight: 700;
}

footer {
	margin-top: 100px;
	text-align: center;
	padding: 1rem;
}

form {
	margin: 2px;
	padding: 2px;
}

form button {
	float: right;
	padding: 5px;
	color: #ec008c;
	background-color: #222222;
	border: none;
	margin-right: 0;
	cursor: pointer;
	width: 80px;
}

form button:hover {
	background-color: #000000;
}

input:focus,
textarea:focus,
button:focus {
	outline: none !important;
	border: 1px solid #ec008c;
	box-shadow: 0 0 2px #719ece;
}

form label {
	font-size: 0.8rem;
	margin-left: 10px;
}

form,
input,
textarea {
	margin: 5px;
}

form input,
textarea {
	width: 100%;
	background-color: #222222;
	color: white;
	border: 1.5px solid #000000;
	padding: 5px;
}

nav {
	width: 35rem;
	display: flex;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: inherit;
}

nav a {
	padding: 0.5rem 0.5rem;
}

nav a:hover {
	background-color: #181818;
}

ul {
	list-style-type: none;
	padding: 0;
	color: silver;
}

main {
	margin: 0 auto;
	padding: 20px;
	width: 100vw;
	display: flex;
	font-weight: 550;
	font-size: 0.9rem;
	justify-content: center;
	align-items: center;
	resize: both;
	overflow: auto;
}

section.description {
	/* position: absolute; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1em;
	color: white;
	line-height: 0.8rem;
	top: 12rem;
}

section {
	/* position: absolute; */
	padding: 1em;
	color: white;
	line-height: 0.8rem;
	top: 28rem;
}

.card-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.card-list .card {
	padding: 2rem;
	margin: 0.5rem;
}

div.card {
	background-color: #222222;
	height: 7rem;
	width: 12rem;
	padding: 2rem;
	cursor: pointer;
}

div.card p {
	text-align: right;
	padding: 0;
	margin: 0;
}

div.modal {
	display: none;
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding-top: 8%;
	overflow: auto;
	/* animation-name: animatetop;
	animation-duration: 0.5s; */
}

div.modal .modal-title {
	width: 80%;
	font-size: 0.9rem;
	font-weight: bold;
	color: #aaa;
	height: 22px;
	margin: 0 auto;
	background-color: #181818;
	z-index: 4;
	position: relative;
	padding: 10px;
	border-bottom: 1px solid #000000;
}

div.modal .modal-body {
	width: 80%;
	height: 65vh;
	margin: 0 auto;
	background-color: #181818;
	z-index: 4;
	position: relative;
	padding: 10px;
}

div.modal-body .modal-content {
	margin: 2%;
	color: white;
}

/* The Close Button */
.close {
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}

/**
 ** FIXME:  Set the blur filter programaticaly instead of css hardcoded
 */
div.profile-pic img {
	filter: blur(3px);
	-webkit-filter: blur(3px);
	height: 10rem;
	width: 10rem;
	border-radius: 50%;
	margin: 1rem;
}

nav a,
a.contact-link {
	padding: 0.2rem 0.5rem;
	text-decoration: none;
	color: #ec008c;
}

a:hover {
	background-color: #222222;
}

/**  Responsive design rules */

@media only screen and (min-width: 768px) {
	main {
		display: flex;
		margin-top: 100px;
		flex-direction: column;
	}
}

/**  Animations rules */

.animate {
	display: none;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Add Animation */
/* @keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
} */
