/**  General rules */
html,
body {
	color: #fefefe;
	background-color: #181818;
	font-family: gotham ssm a, gotham ssm b, sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

header {
	display: flex;
	justify-content: center;
	background-color: #222222;
	padding: 2rem;
	color: #fff;
	font-size: 1.1rem;
	font-weight: 700;
}

nav {
	width: 25rem;
	display: flex;
	justify-content: space-between;
}

nav a {
	padding: 0.5rem 0.5rem;
}

nav a:hover {
	background-color: #181818;
}

main {
	margin: 0 auto;
	padding: 20px;
	width: 100vw;
	display: flex;
	font-weight: 550;
	font-size: 0.9rem;
	justify-content: center;
	align-items: center;
	resize: both;
	overflow: auto;
}

section.description {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1em;
	color: white;
	line-height: 0.8rem;
	top: 12rem;
}

/**
 ** FIXME:  Set the blur filter programaticaly instead of css hardcoded
 */
div.profile-pic img {
	filter: blur(3px);
	-webkit-filter: blur(3px);
	height: 10rem;
	width: 10rem;
	border-radius: 50%;
	margin: 1rem;
}

a {
	padding: 0.2rem 0.5rem;
	text-decoration: none;
	color: #ec008c;
}

a:hover {
	background-color: #222222;
}

/**  Responsive design rules */

@media only screen and (min-width: 768px) {
	main {
		display: flex;
		margin-top: 100px;
		flex-direction: row;
	}
}

/**  Animations rules */

.animate {
	display: none;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
